<footer class="page-footer blue " style="margin-top:5%">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h4 class="white-text">Contact Us</h4>
                <p class="grey-text text-lighten-4">814,A1 SASTRI NAGAR,</p>
                <p class="grey-text text-lighten-4">JAGIR AMMAPALAYAM,</p>
                <p class="grey-text text-lighten-4">SALEM-636302,</p>
                <p class="grey-text text-lighten-4">TAMIL NADU</p>
                <p class="grey-text text-lighten-4">+91 9842750066</p>
            </div>
            <div class="col l7 s12">
                <h4 class="white-text">Important Links</h4>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'home'%}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'courses'%}">Courses</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'about'%}">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'contact'%}">Contact Us</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.2188017647572!2d78.11792641464771!3d11.678899991713013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf07ba081929f%3A0x390a8f9c279d514e!2sSastrinagar%20St%2C%20Salem%2C%20Tamil%20Nadu%20636005!5e0!3m2!1sen!2sin!4v1601389767711!5m2!1sen!2sin"
                        width="200" height="200" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" align="center">
            Copyright © 2020 Narpavi Eduations. All Rights Reserved.
        </div>
    </div>
</footer>